.cell-02-text,
.cell-02-text-1,
.cell-02-text-2,
.cell-02-text-3,
.cell-02-text-4,
.cell-02-text-5,
.cell-02-text-6,
.cell-02-text-7,
.cell-02-text-8,
.cell-02-text-9 {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 0px 10px 0px 0px;
  position: relative;
  width: fit-content;
}

