.column-header-3-7 {
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 0px 2px 0px 101px;
  position: relative;
  width: fit-content;
}

.column-header-3-7.column-header-3-8 {
  padding: 0px 3px 0px 101px;
}

