.status-indicator-10,
.status-indicator-11,
.status-indicator-12,
.status-indicator-13,
.status-indicator-14,
.status-indicator-15,
.status-indicator-21,
.status-indicator-16,
.status-indicator-17,
.status-indicator-18,
.status-indicator-19,
.status-indicator-20 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

