.icon-38-1 {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.group-53 {
  background-image: url(/static/img/shape-6.svg);
  background-size: 100% 100%;
  height: 20px;
  left: 2px;
  position: relative;
  width: 15px;
}

.icon-38-1.icon-38-2 .group-53,
.icon-38-1.icon-39-2 .group-53,
.icon-38-1.icon-40-2 .group-53,
.icon-38-1.icon-41-2 .group-53,
.icon-38-1.icon-42-2 .group-53,
.icon-38-1.icon-43-1 .group-53,
.icon-38-1.icon-44-2 .group-53,
.icon-38-1.icon-45-2 .group-53,
.icon-38-1.icon-46-2 .group-53,
.icon-38-1.icon-47-2 .group-53,
.icon-38-1.icon-48-2 .group-53,
.icon-38-1.icon-38 .group-53,
.icon-38-1.icon-39 .group-53,
.icon-38-1.icon-40 .group-53,
.icon-38-1.icon-41-3 .group-53,
.icon-38-1.icon-41 .group-53,
.icon-38-1.icon-42-3 .group-53,
.icon-38-1.icon-42 .group-53,
.icon-38-1.icon-43 .group-53,
.icon-38-1.icon-44-3 .group-53,
.icon-38-1.icon-44 .group-53,
.icon-38-1.icon-45 .group-53,
.icon-38-1.icon-46-3 .group-53,
.icon-38-1.icon-46 .group-53,
.icon-38-1.icon-47-3 .group-53,
.icon-38-1.icon-47 .group-53,
.icon-38-1.icon-48-3 .group-53,
.icon-38-1.icon-48 .group-53 {
  background-image: url(/static/img/shape-7.svg);
}

.icon-38-1.icon-45-1 .group-53 {
  background-image: url(/static/img/shape-102.svg);
}

