.al-pending,
.card-2,
.card-3,
.card-4,
.card-5 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black-haze);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.label-211,
.label-214,
.label-217,
.label-220,
.label-223 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.label-212,
.label-215,
.label-218,
.label-221,
.label-224 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 22.8px;
  position: relative;
  white-space: nowrap;
}

.label-213,
.label-216,
.label-219,
.label-222,
.label-225 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
}

