.cell-05-text-35,
.cell-05-text-36,
.cell-05-text-34 {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 0px 35px 0px 10px;
  position: relative;
  width: fit-content;
}

.text-icon-117,
.text-icon-118,
.text-icon-116 {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 5px 0px;
  position: relative;
  width: fit-content;
}

.label-247,
.label-248,
.label-246 {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

