.status-icon-big-1,
.status-icon-big-1.status-icon-big {
  background-color: var(--thunderbird);
  border-radius: 10px;
  height: 20px;
  min-width: 20px;
  position: relative;
}

.overlap-group-13 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6.52px;
  display: flex;
  height: 13px;
  left: 3px;
  min-width: 13px;
  padding: 1.3px 1.4px;
  position: relative;
  top: 3px;
}

.group-54 {
  align-items: flex-start;
  background-image: url(/static/img/shape-10.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  min-height: 10px;
  padding: 2.4px 4.6px;
  width: 10px;
}

.path-33 {
  height: 4px;
  margin-left: 0.2px;
  width: 1px;
}

.rectangle-48 {
  background-color: var(--thunderbird);
  height: 1px;
  margin-left: 0.2px;
  width: 1px;
}

.status-icon-big-1.status-icon-big-9 .group-54 {
  background-image: url(/static/img/shape-25.svg);
}

.status-icon-big-1.status-icon-big-3 .group-54,
.status-icon-big-1.status-icon-big-7 .group-54 {
  background-image: url(/static/img/shape-80.svg);
}

.status-icon-big-1.status-icon-big-5 .group-54 {
  background-image: url(/static/img/shape-106.svg);
}

.status-icon-big-1.status-icon-big-8 .group-54 {
  background-image: url(/static/img/shape-139.svg);
}

