.column-header-7,
.column-header-7-1,
.column-header-7-2,
.column-header-7-3,
.column-header-7-4,
.column-header-7-5,
.column-header-7-6,
.column-header-7-7,
.column-header-7-8 {
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 0px 10px;
  position: relative;
  width: fit-content;
}

