.dashview-screen11 {
  align-items: flex-start;
  background-color: var(--white-lilac);
  border: 1px none;
  display: flex;
  height: 774px;
  overflow: hidden;
  width: 1024px;
}

.overlap-group3-6 {
  height: 804px;
  position: relative;
  width: 1024px;
}

.dashview-8 {
  align-items: center;
  background-color: var(--white-lilac);
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  left: 0;
  padding: 0px 0px 20px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.tabs-8 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  padding: 10px 459px 10px 10px;
  position: relative;
  width: 1004px;
}

.tab-20 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.tab-items-19 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.item-name-35 {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.cards-7 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  position: relative;
  width: 1004px;
}

.card-7 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.label-281 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.label-282 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 22.8px;
  position: relative;
  white-space: nowrap;
}

.label-283 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
}

.al-pending-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black-haze);
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.label-285 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
}

.span0-7 {
  line-height: 22.8px;
}

.span1-7 {
  line-height: 14.5px;
}

.dashboard-table-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.table-101 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1004px;
}

.table-row-13 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.inputs-49 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  padding: 7px 10px;
  position: relative;
}

.checkbox-47,
.checkbox-48,
.view-12,
.checkbox-49,
.checkbox-50,
.checkbox-51 {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.row-data-49 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  position: relative;
}

.column-header-2-11 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 0px 84px 0px 0px;
  position: relative;
}

.column-header-10 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 0px 10px;
  position: relative;
}

.text-86 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 5px 0px;
  position: relative;
}

.label-284 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.table-row-14 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--black-haze);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.table-102 {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 0px 10px;
  position: relative;
  width: 83.4px;
}

.text-icon-136 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 5px;
  padding: 5px 0px;
  position: relative;
}

.cell-05-text-37 {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 0px 15px 0px 109px;
  position: relative;
  width: fit-content;
}

.cell-06-text-22 {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 0px 10px 0px 19px;
  position: relative;
  width: fit-content;
}

.cell-07-text-29 {
  align-items: center;
  display: flex;
  gap: 5px;
  height: 25px;
  padding: 0px 0px 0px 40px;
  position: relative;
  width: 83.4px;
}

.table-103 {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 0px 5px 0px 129px;
  position: relative;
  width: fit-content;
}

.cell-07-text-28 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 5px;
  padding: 0px 20px 0px 10px;
  position: relative;
}

.table-104,
.cell-04-text-33 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 5px;
  padding: 0px 10px;
  position: relative;
}

.label-286 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14.5px;
  position: relative;
  white-space: nowrap;
}

