.cell-05-text-26,
.cell-05-text-27 {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 0px 10px 0px 21px;
  position: relative;
  width: 83.4px;
}

.text-icon-108,
.text-icon-109 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 5px;
  padding: 5px 0px;
  position: relative;
}

.label-238,
.label-239 {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

