.dashview-screen13 {
  align-items: flex-start;
  background-color: var(--white-lilac);
  border: 1px none;
  display: flex;
  height: 774px;
  overflow: hidden;
  width: 1024px;
}

.overlap-group3-4 {
  height: 819px;
  position: relative;
  width: 1024px;
}

.dashview-5 {
  align-items: center;
  background-color: var(--white-lilac);
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  left: 0;
  padding: 0px 0px 20px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.tabs-5 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  padding: 10px 459px 10px 10px;
  position: relative;
  width: 1004px;
}

.tab-17 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.tab-items-16 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.item-name-31 {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.cards-4 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  position: relative;
  width: 1004px;
}

.x-pending-3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black-haze);
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.label-249 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.label-250 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 22.8px;
  position: relative;
  white-space: nowrap;
}

.label-251 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
}

.card-6 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.label-252 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
}

.span0-4 {
  line-height: 22.8px;
}

.span1-4 {
  color: var(--white-lilac);
  font-family: var(--font-family-neue_haas_grotesk_display_std-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  line-height: 14.5px;
}

.dashboard-table-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.table-91 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1004px;
}

.table-row-10 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.inputs-39 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  padding: 7px 10px;
  position: relative;
}

.checkbox-37 {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.row-data-39 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  position: relative;
}

.column-header-4-10 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 0px 10px 0px 40px;
  position: relative;
}

.text-84 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 10px;
  padding: 5px 0px;
  position: relative;
}

.label-253 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.cell-04-text-26 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 5px;
  padding: 0px 0px 0px 51px;
  position: relative;
}

.cell-04-text-27 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 5px;
  padding: 0px 10px 0px 50px;
  position: relative;
}

.text-icon-119 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 5px;
  padding: 5px 0px;
  position: relative;
}

.label-254 {
  flex: 1;
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -0.50px;
  position: relative;
}

.pagination-6 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  gap: 6px;
  padding: 0px 10px;
  position: relative;
}

.button-6 {
  align-items: center;
  background-color: var(--black);
  border-radius: 22px;
  display: flex;
  gap: 10px;
  height: 19px;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
  width: fit-content;
}

.dropdown-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.rectangle-30-7 {
  align-self: stretch;
  background-color: var(--white);
  height: 19px;
  min-width: 1px;
  position: relative;
}

.icon-57 {
  height: 10px;
  margin-left: -3244.00px;
  margin-top: -378.00px;
  min-width: 10px;
  position: relative;
}

